# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

In [7]:
a = 'hI! Everyone, I\'m kim'

print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [8]:
a = 'hI! Everyone, I\'m kim'


print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [10]:
'!'.join('배고파')

'배!고!파'

In [12]:
a = ['hi', 'hello']
' '.join(a)

'hi hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [16]:
a = '12345'
a.replace('1', '?')

a = 'wooooooow'
a.replace('o', '', 2)

'wooooow'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [23]:
a = '  123   '
print(a)
print(a.strip())
print(a.lstrip())
print(a.rstrip())

a = 'hehehehihihi'
a.rstrip('hi')

  123
123
123
  123

'hehehe'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환, 없으면, -1을 반환

In [25]:
'apple'.find('a')

0

### `.index(x)` : x의 첫번째 위치를 반환, 없으면, 오류가 발생

In [27]:
'apple'.index('o')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [28]:
'a_b_c_d_e'.split('_')

['a', 'b', 'c', 'd', 'e']

In [29]:
input().split()

 r s d

['r', 's', 'd']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [37]:
# 카페 리스트를 만들어봅시다.

cafe = ['starbuks', 'tomntoms', 'hollys']
cafe.append('caffebene')
print(cafe)

['starbuks', 'tomntoms', 'hollys', 'caffebene']

In [39]:
cafe[len(cafe):] = ['ediya']
cafe

['starbuks', 'tomntoms', 'hollys', 'caffebene', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.
하나하나의 요소를 집어넣는다.

In [60]:
cafe = ['starbuks', 'tomntoms', 'hollys']
cafe.extend(['DropTop'])
cafe

['starbuks', 'tomntoms', 'hollys', 'DropTop']

In [61]:
cafe += ['Back']
cafe

['starbuks', 'tomntoms', 'hollys', 'DropTop', 'Back']

In [62]:
# append와 비교해봅시다.

cafe.append(['.append cafe'])
print(cafe)

cafe.extend(['.extend cafe'])
print(cafe)

['starbuks', 'tomntoms', 'hollys', 'DropTop', 'Back', ['.append cafe']]
['starbuks', 'tomntoms', 'hollys', 'DropTop', 'Back', ['.append cafe'], '.extend cafe']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [65]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

cafe = ['starbuks', 'tomntoms', 'hollys']
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbuks', 'tomntoms', 'hollys']

In [67]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

cafe = ['starbuks', 'tomntoms', 'hollys']
cafe.insert(len(cafe), 'hi')
print(cafe)

['starbuks', 'tomntoms', 'hollys', 'hi']

In [69]:
# 길이를 넘어서는 인덱스는, 무조건 마지막에 하나만 붙습니다.

cafe = ['starbuks', 'tomntoms', 'hollys']
cafe.insert(len(cafe)+100, '!!')
print(cafe)

['starbuks', 'tomntoms', 'hollys', '!!']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [73]:
# remove를 사용해봅시다.

nums = [1, 2, 3, 1, 2]

In [74]:
# 중복된 값 1을 삭제 해봅시다.

nums.remove(1)
print(nums)

[2, 3, 1, 2]

In [75]:
nums.remove(1)
print(nums)

[2, 3, 2]

In [76]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

nums = [1, 2, 3, 1, 2]
nums.remove(10)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [82]:
# pop을 사용해봅시다.

a = [1, 2, 3, 4, 5, 6]
print(a.pop())
print(a)

6
[1, 2, 3, 4, 5]

In [83]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

a = [1, 2, 3, 4, 5, 6]
print(a.pop(0))
print(a)

1
[2, 3, 4, 5, 6]

In [84]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 

a = [1, 2, 3, 4, 5, 6]
b = a.pop()
print(a)
print(b)

[1, 2, 3, 4, 5]
6

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [87]:
# index를 사용해봅시다.
# index는 해당 값이 없으면 value가 발생합니다.

a = ['a', 'b', 'c', 'd', 'e']
a.index('c')

2

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [88]:
# count를 사용해봅시다.

a = [1, 2, 5, 1, 5, 1]
a.count(1)

3

In [95]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

a = [1, 2, 5, 1, 5, 1]
targetvalue = 1

for i in range(a.count(targetvalue)):
    a.remove(targetvalue)
print(a)

[2, 5, 5]

### `.sort()`

정렬을 합니다. 

`sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [106]:
a = [1, 5, 2, 4, 3, 6, 7]
a.sort()

print(a)

print("-------------------")
b = [1, 5, 2, 4, 3, 6, 7]
b.sort(reverse=1)

print(b)

[1, 2, 3, 4, 5, 6, 7]
-------------------
[7, 6, 5, 4, 3, 2, 1]

In [101]:
a = [1, 5, 2, 4, 3, 6, 7]
sorted(a)

print(a)

[1, 5, 2, 4, 3, 6, 7]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [108]:
classroom = ['kim', 'nam', 'park', 'choi']

classroom.reverse()
print(classroom)

['choi', 'park', 'nam', 'kim']

## 복사

In [124]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copy_list = original_list
print(copy_list)

print(hex(id(original_list)))
print(hex(id(copy_list)))
print()

copy_list[0] = 5

print(hex(id(original_list)))
print(hex(id(copy_list)))
print()

print(original_list)

[1, 2, 3]
0x19ab37a1648
0x19ab37a1648

0x19ab37a1648
0x19ab37a1648

[5, 2, 3]

In [119]:
# 숫자를 확인해봅시다.

a = 20005
b = a

print(hex(id(a)))
print(hex(id(b)))

b = 30005

print(hex(id(a)))
print(hex(id(b)))

0x19ab3bb99d0
0x19ab3bb99d0
0x19ab3bb99d0
0x19ab3bb9930

In [122]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
dinner = lunch

print(hex(id(lunch)))
print(hex(id(dinner)))
print()

dinner['김밥천국'] = '참치김밥'
print(hex(id(lunch)))
print(hex(id(dinner)))
print()

print(lunch)

0x19ab37e69d8
0x19ab37e69d8

0x19ab37e69d8
0x19ab37e69d8

{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [138]:
# 리스트를 복사해봅시다.

a = [1, 2, 3]
print(hex(id(a)))
print()

b = a[:]
print(hex(id(b)))
print()

b[0] = 5
print(hex(id(a)))
print(hex(id(b)))
print()

print(a)

0x19ab37a1208

0x19ab3795ec8

0x19ab37a1208
0x19ab3795ec8

[1, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [140]:
# 2차원 배열을 복사해봅시다.

a = [1, 2, [1, 2]]
print(hex(id(a[2])))
print()

b = a[:]
print(hex(id(b[2])))
print()

b[2][0] = 999
print(a)

0x19ab379db88

0x19ab379db88

[1, 2, [999, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [142]:
# 깊은 복사를 사용해봅시다.

import copy

a = [1, 2, [1, 2]]
print(hex(id(a[2])))
print()

b = copy.deepcopy(a)
print(hex(id(b[2])))
print()

b[2][0] = 999
print(a)

0x19ab41725c8

0x19ab416be08

[1, 2, [1, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [147]:
# clear를 사용해봅시다.

nums = list(range(1, 100))
print(nums)

print()

nums.clear()
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[]

# List Comprehension

리스트 안에 식, for 문을 지정합니다.

여러 줄의 코드를 한 줄로 줄일 수 있습니다.

```python
[식 for 변수 in iterable]
```

## 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [3]:
#기존의 방법

cublic_list = []
for i in range(1, 11):
    cublic_list.append(i**3)
print(cublic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
# List Comprehension

[x**3 for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehesion + 조건문
```python

[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 변수 in iterable]

[식 if 조건식 else 식 if 조건식 else 식 for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [10]:
# 기존의 방법

even = []
for i in range(1, 11):
    if i % 2 == 0:
        even.append(i)
        
print(even)
#####################################################

even2 = []
for i in range(1, 11):
    if not i % 2:
        even2.append(i)
        
print(even2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [12]:
# List Comprehension

[x for x in range(1, 11) if x%2==0]

# [x for x in range(1, 11) if not x%2]

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [13]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [15]:
a = (1, 3)
a

(1, 3)

In [38]:
# 반복문을 활용하여 만들어주세요.

pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

In [43]:
# List comprehension을 활용하여 만들어주세요.

pair = [(boy, girl) for boy in boys for girl in girls]
display(pair)

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [57]:
# 반복문을 활용하여 만들어주세요.

result = []
for i in range(1, 50):
    for j in range(i, 50):
        for k in range(j, 50):
            if i**2+j**2==k**2:
                result.append((i, j, k))
display(result)

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

In [59]:
# List comprehension을 활용하여 만들어주세요.

result = [(i, j, k) for i in range(1, 50) for j in range(i, 50) for k in range(j, 50) if i**2+j**2==k**2]
display(result)

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [72]:
# List comprehension을 활용하여 만들어주세요.

words = 'Life is too short, you need python!'
result = ''.join([x for x in words if not x in 'aeiou'])

'Lf s t shrt, y nd pythn!'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [78]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [80]:
# 딕셔너리에 없으면 에러가 발생합니다

my_dict = {'apple': '사과', 'banana': '바나나'}

my_dict.pop('melon')
print(my_dict)

KeyError: 'melon'

In [82]:
# 두번째 인자로 default를 설정할 수 있습니다

my_dict = {'apple': '사과', 'banana': '바나나'}

my_dict.pop('melon', 0) #melon이 없으면 0을 반환

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [83]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

my_dict.update(apple='사과아아아아')
print(my_dict)

{'apple': '사과아아아아', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [90]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
# my_dict['pineapple']
my_dict.get('pineapple', 0)

0

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

```python
[{키: 값 for 키, 값 in 딕셔너리.items()}]

[{키: 값 for 값 in 딕셔너리.items() if 조건식}]

[{키: 값 if 조건식 else 값2 for 키, 값 in 딕셔너리.items()}]

[{키: 값 if 조건식 else 키 or 값2 if 조건식 else 키 or 값3 if 조건식 else 키 or 값4 for 키, 값 in 딕셔너리.items()}]
```

In [ ]:
# dictionary comprehension

[{x: x**3 for x in range(1, 11)}]

### dictionary comprehension 사용해보기

In [123]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [116]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

[{key: val for key, val in dusts.items() if val>80}]

[{'대전': 82, '중국': 200}]

In [101]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

[{key: '나쁨' if val>80 else '보통' for key, val in dusts.items()}]

[{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}]

In [114]:
# elif 도 사용할 수 있습니다.

[{key: '매우 나쁨' if val>150 else '나쁨' if val>80 else '보통' if val>30 else '좋음' for key, val in dusts.items()}]

[{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우 나쁨'}]

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [195]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

a.add('포도')
a.add('포도')
a

{'바나나', '사과', '수박', '포도'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [197]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

a.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'})
a

{'딸기', '레몬', '바나나', '사과', '수박', '토마토', '포도'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [199]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

a.remove('사과')
a
a.remove('포도')

KeyError: '포도'

### `.discard(elem)`
elem를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [230]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}

a.discard('banana')

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

```
별변인 타입은 파이썬이 hash table이라는 것으로 만드는데 이 hash table에 정해진 순서가 존재합니다.
현재 파이썬 실행환경에서 set.pop()이 계속 같은 이유는 처음 만들어진 set이 같은 hasg table 값으로 이루어져있기 때문이다.
파이썬 실행환경이 바뀌어여 pop 으로 나오는 인자가 바뀐다.(즉, 파이썬 실행환경이 바뀌면 만들어지는 hash table도 바뀌기 때문)
```

In [238]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

print(a.pop())
print(a)

수박
{'사과', '바나나', '아보카도'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [257]:
numbers = ['1', '2', '3']

# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

# map

print(list(map(str, numbers)))


# list comprehension

print([str(x) for x in numbers])

['1', '2', '3']
['1', '2', '3']

In [258]:
numbers = [1, 2, 3]

# 위의 코드를 '123'으로 만들어봅시다.

# map

print(''.join(map(str, numbers)))


# list comprehension

print(''.join([str(x) for x in numbers]))

123
123

* function은 사용자 정의 함수도 가능합니다.

In [259]:
# 세제곱의 결과를 나타내는 함수

def cube(x):
    return x**3
    
numbers = [1, 2, 3, 4, 5]

print(list(map(cube, numbers)))

[1, 8, 27, 64, 125]

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [260]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [262]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

print({girl: boy for girl, boy in zip(girls, boys)})

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [265]:
a = '123'
b = '567'

for i, j in zip(a, b):
    print(i, j)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [268]:
num1 = '123'
num2 = '12345'

list(zip(num1, num2))

[('1', '1'), ('2', '2'), ('3', '3')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [273]:
from itertools import zip_longest

num1 = '123'
num2 = '12345'

list(zip_longest(num1, num2))

[('1', '1'), ('2', '2'), ('3', '3'), (None, '4'), (None, '5')]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `참인 것들만` 구성하여 반환한다.

In [275]:
# 홀수인지 판단하는 함수를 작성해봅시다.

def odd(n):
    return n%2

numbers = [1, 2, 3, 4, 5]

list(filter(odd, numbers))

[1, 3, 5]

In [278]:
# 다음의 list comprehension과 동일하다.

print([x for x in numbers if x%2])

print([x for x in numbers if odd(x)])

[1, 3, 5]
[1, 3, 5]